.App {
  text-align: center;
  height: 400px;
  width: 300px;
  margin:100px auto;
  border: 1px solid red;
  overflow: auto;
}
input {
  width: 200px;
  height: 30px;
  outline: none;
  margin-top: 20px;
  border: 1px solid black;
  border-right: 0;
  padding: 0 10px;
}
button{
  width: 40px;
  height: 31px;
  border: 1px solid black;
  outline: none;
  cursor: pointer;
}
button:hover{
  background-color: blue;
  color: white;
}
.taskWrappper{
  width: 100%;
  margin-top: 18px;
  height: 82.5%;
  text-align: start;
}
.taskWrappper ul{
  list-style: none;
  text-align: start;
  padding: 0;
  margin: 0 20px;
}
.taskWrappper ul li {
  border: 1px solid #ddd;
  padding:0 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.taskWrappper ul li span{
  cursor: pointer;
  font-size: 2rem;
}






